.cor{
  background-color: rgb(10, 10, 10);
}

.cor-texto{
  color: white;
}
.botao{
  background-color: white;
  color: black;
  border: none;
}

.botao:hover{
  background-color: rgb(202, 202, 202);
}

.caixa{
  background-color: #222;
  margin: 150px 100px;
  border-radius: 15px;
  padding-bottom: 30px;

}